SUBSYSTEM=="usb", ATTRS{idVendor}=="045e", MODE="0666", GROUP="dialout"
SUBSYSTEM=="usb_device", ATTRS{idVendor}=="045e", MODE="0666", GROUP="dialout"